@charset "UTF-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

body{
	background-image:url(images/body_bg.gif);
}

#wrapper{
	width:980px;
	margin:0 auto;
	background-image:url(images/wrapper_bg.jpg);
	border-left:#666 2px solid;
	border-right:#666 2px solid;
}

/* ========== 標題區 ========== */
#header{
	background-image:url(images/header_bg.jpg);
	height:410px;
}
#header p{}
#header p a{
	display:block;
	width:80px;
	height:40px;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	margin-left:870px;
	color:#036;
	font-weight:bold;
}

/* ========== 選單區 ========== */
#mainNav {
	background-image:url(images/mainNav_bg.jpg);
	height:40px;
}
#mainNav ul{
	padding-left:120px;
}
#mainNav li{
	float:left;
	list-style-type:none;
}
#mainNav li a{
	display:block;
	background-image:url(images/mainNav_icon.gif);
	width:150px;
	height:25px;
	text-align:center;
	text-decoration:none;
	color:#333;
	padding-top:15px;
}