@charset "UTF-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

body{
	background-image:url(images/body_bg.gif);
}

#wrapper{
	width:980px;
	margin:0 auto;
	background-image:url(images/wrapper_bg.jpg);
	border-left:#666 2px solid;
	border-right:#666 2px solid;
}

/* ========== 標題區 ========== */
#header{
	background-image:url(images/header_bg.jpg);
	height:410px;
}
#header p{}
#header p a{
	display:block;
	width:80px;
	height:40px;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	margin-left:870px;
	color:#036;
	font-weight:bold;
}

/* ========== 選單區 ========== */
#mainNav{
	background-image:url(images/mainNav_bg.jpg);
	height:40px;
}
#mainNav ul{
	padding-left:120px;
}
#mainNav li{
	float:left;
	list-style-type:none;
}
#mainNav li a{
	display:block;
	background-image:url(images/mainNav_icon.gif);
	width:150px;
	height:25px;
	text-align:center;
	text-decoration:none;
	color:#333;
	padding-top:15px;
}

/* ========== 內容區 ========== */
#content{
	background-image:url(images/content_bg.jpg);
	background-repeat:no-repeat;
	padding:50px 30px 0 90px;
}
#content h2{
	background-image:url(images/content_news_title.gif);
	width:800px;
	height:110px;
	text-indent:-9999px;
}
.content_info{
	background-image:url(images/content_news_board.gif);
	width:800px;
	height:110px;
	margin:10px 0;
}
.content_info p{
	font-size:12px;
	line-height:16px;
	padding:10px 10px 0 140px;
}
#content h3{
	background-image:url(images/content_baby5steps.gif);
	width:800px;
	height:50px;
	text-indent:-9999px;
}
#content ul{
	list-style-image:url(images/content_arrow.gif);
	width:770px;
	height:100px;
	font-size:12px;
	line-height:20px;
	padding-left:30px;
	background-image:url(images/content_baby123.gif);
	background-repeat:no-repeat;
	background-position:right center;
	margin-top:10px;
}
#content li{}